html{
	background-color: dimgrey;
}

/*img {
	width: 30%;
	float: left;
	margin: 1.66%;
}*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
  width: 40%;
}

/*p {bar
	font-family: Cormorant;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}
*/
p {
	font-family: Cormorant;
	margin-left: auto;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: auto;
	padding-bottom: 20px;
}